.forgot-pw-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 11%;
  width: 40%;
}

.forgot-pw-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0px;
}

.forgot-pw-container button {
  width: 30%;
}

.incorrect-ans {
  color: #DC143C;
  padding-left: 5px;
  margin-top: 10px;
  font-size: 14px;
}

.invalid-email a {
  text-decoration: none;
  color: #ff69b4;
  transition: 0.1s ease-out;
}

.invalid-email a:hover {
  color: #0096FF;
}

@media (max-width: 650px) {
  .forgot-pw-container {
    width: 90%;
    margin-top: 20%;
  }

  .forgot-pw-title {
    text-align: left;
    padding: 10px 0px 0px 6px;
  }

  .forgot-pw-container button {
    align-self: flex-start;
  }
}